[defaults]
inventory = inventories/development
remote_tmp = /tmp/ansible-$USER
roles_path = roles
forks = 50
strategy = free
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
