{%- macro arg_quote(arg) -%}

{%- if arg is mapping -%}

{%- if arg[(arg.keys() | list).0] == "default" -%}
{{ (arg.keys() | list).0 }}
{%- elif arg[(arg.keys() | list).0] == "raw" -%}
{{ (arg.keys() | list).0 }}
{%- elif arg[(arg.keys() | list).0] in ["safe", "var", "variable", "func", "function", "obj", "object", "unquote", "num", "int", "float", "double"] -%}
{{ (arg.keys() | list).0 | safe }}
{%- elif arg[(arg.keys() | list).0] in ["quote", "str"] -%}
"{{ (arg.keys() | list).0 }}"
{%- elif arg[(arg.keys() | list).0] in ["to_json", "tojson"] -%}
{{ (arg.keys() | list).0 | to_json }}
{%- else -%}
{{ (arg.keys() | list).0 }}
{%- endif -%}

{%- else -%}
{{ arg if arg is not none else "" | to_json }}

{%- endif -%}

{%- endmacro -%}



{%- macro render_options(opts) -%}

{%- if opts.category is defined and opts.category is not none -%}
-- {{opts.category}}
{% endif %}

{%- if opts.vars is defined and opts.vars is not none -%}
{%- for var_value in opts.vars -%}
{%- for var in var_value -%}
local {{ var }} = {{ arg_quote(var_value[var]) }}
{% endfor %}
{%- endfor -%}
{%- endif -%}

{%- if opts.funcs is defined and opts.funcs is not none -%}
{%- for func_args in opts.funcs -%}
{%- for func in func_args -%}
{% if func_args[func] is none -%}
{{ func }}()
{% else -%}
{{ func }}({% for arg in func_args[func] -%}{% if not loop.last %}{{ arg_quote(arg) }}, {% else %}{{ arg_quote(arg) }}{% endif %}{%- endfor %})
{% endif -%}
{%- endfor -%}
{%- endfor -%}
{%- endif -%}

{%- if opts.cmds is defined and opts.cmds is not none -%}
{%- for cmd in opts.cmds -%}
{{ cmd }}
{% endfor %}
{%- endif -%}

{%- endmacro -%}



-- LUA module file

---------------------------------------------------
-- This module file is auto-generated by ansible --
-- Manual editing may cause issues.              --
---------------------------------------------------

{% for instruction_group in module -%}
{{ render_options(module[instruction_group]) if module[instruction_group] is not none }}
{% endfor %}


